@{
    ViewData["Title"] = "AddContact";
}

<div class="container">
    <h2>Add Contact</h2>
    <form asp-action="AddContact" method="post">
        <div class="mb-3">
            <label for="FirstName" class="form-label">First Name</label>
            <input type="text" id="FirstName" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">Last Name</label>
            <input type="text" id="LastName" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
            <label for="Number" class="form-label">Number</label>
            <input type="text" id="Number" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3">
            <label for="E-Mail" class="form-label">E-Mail</label>
            <input type="text" id="E-Mail" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="md-3">
            <label for="Category" class="form-label">Category</label>
            <input type="text" id="Category" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="container my-2">
            <button type="button" class="btn btn-primary">Add</button>
            <a type="button" asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
        </div>

    </form>
</div>