
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h2>Edit Contact</h2>
    <label for="FirstName" class="form-label">First Name</label>
    <input type="text" id="FirstName" class="form-control" aria-describedby="passwordHelpBlock">
    <label for="LastName" class="form-label">Last Name</label>
    <input type="text" id="LastName" class="form-control" aria-describedby="passwordHelpBlock">
    <label for="Number" class="form-label">Number</label>
    <input type="text" id="Number" class="form-control" aria-describedby="passwordHelpBlock">
    <label for="E-Mail" class="form-label">E-Mail</label>
    <input type="text" id="E-Mail" class="form-control" aria-describedby="passwordHelpBlock">
    <label for="Category" class="form-label">Category</label>
    <input type="text" id="Category" class="form-control" aria-describedby="passwordHelpBlock">
</div>
<div class="container my-2">
    <button type="button" class="btn btn-primary">Add</button>
    <a type="button" asp-action="Index" asp-controller="Home" class="btn btn-danger">Cancel</a>
</div>

